[2019-02-19 08:22] tgpetrov opened #1 "When a DatePickerField has 2 class names they are ignored"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
When a DatePickerField has 2 class names, css is not applied

### Which platform(s) does your issue occur on?
- iOS/Android/Both **Both**
- iOS/Android versions **5.1.0**
- emulator or device. What type of device? **Both**

### Please, provide the following version numbers that your issue occurs with:

- CLI:

[2019-02-28 11:51] #1 closed, assigned to tgpetrov, DimitarTodorov

[2019-03-07 12:57] Izrab opened #8 "Datepicker title of the lists"
I want to write the title of the datepicker month, year, and day lists, like this
![captuhre](https://user-images.githubusercontent.com/22328131/53958359-b1467400-4095-11e9-8abf-9b6d5262d593.PNG)

But, I should be able to write the titles in Arabic too, beside English.

[2019-03-07 13:35] tgpetrov commented on #8
Hello @Izrab
Unfortunately this is not possible. The `nativescript-datetimepicker` plugin uses native widgets - [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker) for iOS and [DatePicker](https://developer.android.com/guide/topics/ui/controls/pickers) for Android and since neither of them provides such functionality it can not be exposed by this plugin too.

[2019-03-07 13:35] #8 closed, assigned to nobody

[2019-03-07 13:47] Izrab opened #9 "Datepicker numerical month list"
I want to select the month as numbers, like day and year, Instead of month names (e.g. "Jan", "Feb", etc), rather 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12.
![captuhre](https://user-images.githubusercontent.com/22328131/53961002-77c53700-409c-11e9-9acc-7371cc867320.PNG)

[2019-03-07 14:04] tgpetrov commented on #9
Hello @Izrab

Unfortunately this is not possible. The `nativescript-datetimepicker` plugin uses native widgets - [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker) for iOS and [DatePicker](https://developer.android.com/guide/topics/ui/controls/pickers) for Android and since neither of them provides such functionality it can not be exposed by this plugin too.

You can chan

[2019-03-07 14:04] #9 closed, assigned to nobody

[2019-04-01 11:39] ShubhamJainSJ opened #13 "Editable and required property of TextField do not work"
As per the documentation, both `DatePickerField` and `TimePickerField` are extensions of `TextField` but editable and required property have no effect on these fields.

I need the date and time to be set only from `ngModel` in certain use-case scenarios. Users should not be allowed to modify the values but as per current package, there is no way to disable GUI editing of the field.

Kindly check i

[2019-04-02 14:20] tgpetrov commented on #13
Hi @ShubhamJainSJ,

Indeed the `DatePickerField` and `TimePickerField` extend `TextField` and its every property. However due to their specifics, their value for `editable` is always `false`. This means that when you tap on the field, it won't get focussed and the keyboard that allows manual input in the ordinary `TextField` will not be shown.

However, since you want to disable the option to chan

[2019-04-03 11:24] ShubhamJainSJ commented on #13
Hi @tgpetrov

I tried using property `isUserInteractionEnabled` but it did not work. Date selection dialog stills pops up when the field is tapped and date can be changed.

`<DatePickerField hint="Select Start Date" [(ngModel)]="handleExceptionData.startDate" pickerTitle="Select Start Date" pickerOkText="OK" pickerCancelText="Cancel" class="apply-css" #startDateModel="ngModel" isUserInteractionEna

[2019-04-03 14:05] tgpetrov commented on #13
Hi @ShubhamJainSJ

I apologise for the previous suggestion, it seems like it is not applicable on android, due to [an issue](https://github.com/NativeScript/NativeScript/issues/7103) with this property in the TextField. The property that works on both platforms and can be used to disable the fields is `isEnabled`. Note that it will grey the font on android, which is actually a good indication to t

[2019-04-04 09:03] ShubhamJainSJ commented on #13
Thanks @tgpetrov
`isEnabled` property works like a charm. Exactly like how I wanted it to behave.

Regarding `required` property, ng classes do change and it toggles successfully from `ng-invalid` to `ng-valid` but I am not able to catch it using `[(ngModel)]` binding with `model.valid` property.

**Example:**
[code]
Here, if `DatePickerField` is tapped to open date selection dialog but then inste

[2019-04-22 08:16] tgpetrov opened #14 "Make the plugin compatible with AndroidX"
### Please, tell us how to recreate the issue in as much detail as possible.
If the plugin is added to an app using the _androidx_ versions of _tns-core-modules_ and _tns-android_, the app won't be working.

[2019-04-25 08:00] #14 closed, assigned to nobody

[2019-04-29 19:57] seveneye opened #17 "ReferenceError: androidx is not defined"
### Which platform(s) does your issue occur on?
- iOS/Android/Both - **Android**
- iOS/Android versions **5.1.0**
- emulator or device. What type of device? **Device**

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it) **5.3.1**
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-modules/packa

[2019-04-30 06:32] tgpetrov commented on #17
Hi @seveneye,

There is no need from any androidx configuration.

I was not able to reproduce the described issue. I successfully added the plugin to a new application and was also able to run the demo apps without any errors.

Can you describe how to reproduce the issue with more exact steps? Here are a few guidance questions:
- Are you trying to run some of the demo apps or you've added the plug

[2019-04-30 13:47] seveneye commented on #17
Im using this command to run the app _tns run android --bundle --env.uglify --env.aot --env.snapshot_.

The application is angular. I followed the steps as indicated.
1. tns plugin add nativescript-datetimepicker
2. add the module.
3. use <datepickerfield> in the template
4. error appears - **ReferenceError: androidx is not defined**

I tried using the lower version but I'm still getting the same

[2019-05-02 07:07] tgpetrov commented on #17
Hi @seveneye

I tried to follow the steps you provided:
1) I created a blank app with `tns create my-blank-ng --template tns-template-blank-ng`
2) I added the _nativescript-datetimepicker_ with `tns plugin add nativescript-datetimepicker`
3) In app.module.ts I added the _NativeScriptDateTimePickerModule_ to the list of imports
4) In home.component.html, added usage of the plugin `<DatePickerField

[2019-05-02 10:23] seveneye commented on #17
@tgpetrov thank you for your response. Using the steps you provided, I was able to create a sample app and use the datepickerfield.

However, my real application still has the same error **DatePickerField Error: ReferenceError: androidx is not defined** and I have no clue about this error. I have tried using package.json from my real app to the sample app but I was not able to replicate this error

[2019-05-02 10:43] seveneye commented on #17
Tried to open datepicker using codebehind, but still the same error.

[code]

What are the possible reasons for androidx to be undefined?

[2019-05-03 11:47] tgpetrov commented on #17
Hi @seveneye,

It would be great if you manage to determine the exact steps that need to be followed so that we can reproduce the issue, otherwise it would be hard for us to guess the reason. It may be related to some other plugin that you have in your app or there may be some artefacts that didn't get updated properly for some reason. If you haven't tried yet, you can remove from your project the

[2019-05-08 11:55] ghost commented on #17
I have just updated plugin and try to use "nativescript-datetimepicker": "^1.1.0" it was working fine when I was using v1.0.2 but, now when I try to select a date it gives an error in console like

`JS: 'DatePickerField Error: ReferenceError: androidx is not defined'`

I have tried after removing these node_modules, platforms and hooks directories as well but no luck

[2019-05-08 12:23] tgpetrov commented on #17
Hi @ruchitaecor
We never managed to reproduce the issue.
Can you isolate the case and let us know the exact steps to reproduce it ?

[2019-05-08 12:36] ghost commented on #17
@tgpetrov

Thanks for the quick response!!

As I said I was using v1.0.2 and its working fine in one of my ongoing project. I saw there is a new release 1.1.0 so I thought I should update the version as it's for Androidx support.

- I had changed the version in package.json to ^1.1.0 it was before ^1.0.2.
- remove node_modules, platforms and hooks directories as whenever I change package.json file

[2019-05-08 16:01] tgpetrov opened #18 "Create a new UI element that combines the two pickers"
Add a new UI Element that combines the existing DatePickerField and TimePickerField. This will ease the usage of date/time picking in various forms where usually there is a single property in the view model. With the current setup, this one property has to be bound with 2 UI elements (one DatePickerField and one TimePickerField) which can turn tricky, for example when used in Angular Forms.

[2019-05-09 13:55] tgpetrov commented on #17
@seveneye, @ruchitaecor

I managed to reproduce a `DatePickerField Error: ReferenceError: androidx is not defined` only when I downgraded tns-android back to 4.2.0.

Can you confirm the version that you have in your projects for `tns-android`. The demo applications of the plugin, for example, are using 5.3.0 as visible from their [package.json](https://github.com/NativeScript/nativescript-datetime

[2019-05-10 04:19] seveneye commented on #17
@tgpetrov Im using tns-android 5.3.1. I already tried removing the node_modules and platforms folder but still has the same error.

Adding the plugin to a blank app works. Will post here when I have an exact repro steps.

[2019-05-13 06:18] kefahB opened #20 "[Ipad] DateTimePicker popup is empty"
Hi,

I work for the first time on a Ipad project .. when i tap on `DatePickerField` or `TimePickerField` the popup is empty .. I try also to open popup from `view-model` "programmatically" and I receive same result.

![Simulator Screen Shot - iPad Pro (12 9-inch) (3rd generation) - 2019-05-13 at 08 09 27](https://user-images.githubusercontent.com/18148534/57599352-a822c900-7556-11e9-97b9-bc0bcc0f9

[2019-05-16 15:13] DimitarTodorov commented on #18
https://github.com/NativeScript/nativescript-datetimepicker/releases/tag/v1.2.0

[2019-05-16 15:13] #18 closed, assigned to tgpetrov

[2019-05-16 21:08] joeynylund opened #24 "MinTime and MaxTime?"
Anyway we could get these implemented? To customize to our business hours? Thanks

[2019-05-17 07:50] tgpetrov commented on #17
@seveneye , @ruchitaecor
Yesterday we released v.1.2.0, where the code around the androidx usage is refactored.
Can you try the new version and let me know if your issue is resolved?

[2019-05-17 15:14] tgpetrov commented on #13
@ShubhamJainSJ

I used the following setup to check if the CSS classes are updating as expected:
[code]
I managed to reproduce 2 bugs:
1. ng-untouched is always present even after popup is opened and closed
2. ng-dirty is always present if there is no initial value

[2019-05-17 15:17] tgpetrov commented on #20
@kefahB
What is the model, OS version and screen size for this iPad?

[2019-05-17 15:25] tgpetrov commented on #24
@joeynylund

Unfortunately this is not possible. The `nativescript-datetimepicker` plugin uses native widgets - [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker) for iOS and [TimePicker](https://developer.android.com/guide/topics/ui/controls/pickers) for Android and since neither of them provides such functionality it can not be exposed by this plugin too.

You can subsc

[2019-05-17 15:25] #24 closed, assigned to nobody

[2019-05-21 05:00] ghost commented on #17
@tgpetrov
Thanks for the new release. Yes, this version is working correctly.
Thank you once again!

[2019-05-21 06:06] #17 closed, assigned to nobody

[2019-05-22 06:38] seveneye commented on #17
@tgpetrov its working now. great work. thank you very much!

[2019-05-22 07:56] kefahB commented on #20
Hi @tgpetrov
Sorry for my late response .. is Ipad 12.9 inch

[2019-05-23 08:37] tgpetrov commented on #20
Thanks @kefahB
I managed to reproduce the issue.

[2019-05-29 11:21] bundyo opened #28 "Allow for a single hint and initially choose both date and time in DateTimePickerFields"
Currently the DateTimePickerFields has two distinct date and time fields which should be tapped separately to fill them up and have separate hints. It would be more logical to have a single hint property (even if empty) to cover both fields and on tap to allow filling them both with the combined iOS dialog and consecutive Android ones. Maybe optionally allow to fill both fields on every GridLayout

[2019-05-29 16:19] erkanarslan opened #29 "[Feature Request] Improve UI"
This is a feature request. This plugin provides more native-looking date pickers: https://github.com/AntonioCuevaUrraco/nativescript-timedatepicker

However, it is not maintained at the moment and it has some build problems when you install it for the first time.

Maybe you can fork this plugin or use its components to improve nativescript-datetimepicker's UI.

[2019-05-30 11:51] tgpetrov commented on #29
@erkanarslan
Can you elaborate on "more native-looking"?
This plugin uses android and iOS native widgets - [Android DatePicker](https://developer.android.com/guide/topics/ui/controls/pickers) and [IOS UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker). The Android widget has 2 modes - one with spinners (as used in this plugin) and one with calendar (as used in the other pl

[2019-05-30 11:53] erkanarslan commented on #29
The picker used in the other plugin looks better and the picker in this plugin looks like a web page popup. Maybe you can provide an option to choose which mode to use.

[2019-05-30 14:21] tgpetrov commented on #29
The two plugins have conceptual differences, so combining them into a single plugin is not an option.

You can choose to use the one that suits your needs and preferences. Both are open-source so you can also contribute missing features and/or resolve issues. You can also fork either of them and apply whatever modifications you need.

Thank you for the provided feedback.

[2019-05-30 14:21] #29 closed, assigned to nobody

[2019-05-30 14:27] erkanarslan commented on #29
I can contribute to solve some of the problems in the open source plugins but if I need to make changes on the native side, it is not possible for me since I don't have any android or ios development experience. I will continue to use other plugin in this case.

[2019-05-30 21:47] jorwoody opened #30 "Date before Unix Epoch displays as 1 less day of month"
### Which platform(s) does your issue occur on?
- Android

### Please, provide the following version numbers that your issue occurs with:

- CLI: 5.3.1
- Cross-platform modules: 5.3.2
- Runtime(s): 5.3.1
- Plugins: "dayjs": "^1.8.14",

### Please, tell us how to recreate the issue in as much detail as possible.
- Create a DatePickerField and use ngModel to bind a Date object.
- Provide a dateForma

[2019-06-03 15:19] jorwoody commented on #20
I also reproduced this issue. I noticed that there is actually information in the popup... but it is moved far to the right. See attached screenshot taken from iPad 6th generation simulator:
https://imgur.com/a/rTmsIqV

[2019-06-04 05:55] zbranzov commented on #13
Released in version 1.2.1

[2019-06-04 05:55] #13 closed, assigned to zbranzov

[2019-06-04 05:56] zbranzov commented on #20
Released in version 1.2.1

[2019-06-04 05:56] #20 closed, assigned to zbranzov

[2019-06-12 14:39] patrikengborg commented on #24
I'm using the timeChange event and, in my case, if the end time precedes the start time I would like to cancel the change and revert it to the previous set time. But I can't seem to update the UI programatically. Is this possible? Please see my code sample below. Thanks.

[code]

[2019-06-15 21:51] ghost opened #33 "Set date month by new Date() object is not equal to the month displayed in the datepicker"
I am setting selected date into datepicker by:

public selectedDate: Date = new Date(2014,2,23);

and then using this variable in html datepicker

<DatePickerField [(ngModel)]="selectedDate" locale="pl_PL" class="input"></DatePickerField>

The result date is not 2014.02.23 but 2014.03.23 -> the datepicker set allways one moth plus.

I am using nativescript angular template and I have installed the

[2019-06-17 06:16] tgpetrov commented on #33
Hi @letsgoforaride
This is expected - in JavaScript dates have their months represented by a value from 0 to 11 as demonstrated [here](https://www.w3schools.com/js/js_dates.asp). You can just `console.log(selectedDate);` and verify that this code `new Date(2014,2,23)` creates the date 23rd of March, 2014.

Please note that when you create a date in xml/html, another `Date` constructor is used, whe

[2019-06-17 06:16] #33 closed, assigned to nobody

[2019-08-07 11:44] mhtghn opened #40 "[Feature Request] A way to set the format of the date picker"
Im currently working in a mobile app using NativeScript. And the user of the app can select a date and data will be displayed depending on the date selected. The user can also select which type of date he want to select (day, month or year).

It will be very helpful to have a way to set a format for the datepicker, for example to set a format of months and only the month and the year will be displ

[2019-08-08 19:55] ahamedmulaffer opened #41 "cancel, blur event for nativescript-datetimepicker"
i want the cancel,ok,blur,dialog close events for nativescript-datetimepicker

[2019-08-12 15:01] tgpetrov commented on #40
Hello @mhtghn

Unfortunately this is not possible. The `nativescript-datetimepicker` plugin uses native widgets - [UIDatePicker](https://developer.apple.com/documentation/uikit/uidatepicker) for iOS and [DatePicker](https://developer.android.com/guide/topics/ui/controls/pickers) for Android and since neither of them provides such functionality it can not be exposed by this plugin too.

In the case

[2019-08-12 15:01] #40 closed, assigned to nobody

[2019-08-12 15:06] tgpetrov commented on #41
Hello @ahamedmulaffer
The events that are available are `datePickerOpened` and `datePickerClosed` for date selection and `timePickerOpened` and `timePickerClosed` for time selection. Here's how you can use them to differentiate between when the user changed the date and confirmed by pressing OK and the user cancelled selection (by pressing cancel, pressing anywhere outside the picker, or pressed h

[2019-08-12 15:06] #41 closed, assigned to nobody

[2019-08-19 13:38] yassilah commented on #41
I'm having the same issue as i'd also like to get the "cancel" event (which i'm using as an "empty the date field" button) and looked at the given answer. However, this does not reflect the actual cancel behavior as I a user could open the picker, not change the value and press ok.

[2019-08-22 12:34] bundyo opened #46 "DateTimePickerFields placed in just a StackLayout takes the whole screen"
### Which platform(s) does your issue occur on?
- Android, any device/emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.0.x
- Cross-platform modules: 6.0.x
- Runtime(s): 6.0.x
- Plugin(s): none

### Please, tell us how to recreate the issue in as much detail as possible.
Describe the steps to reproduce it.
Place a DateTimePickerFields component insi

[2019-08-29 02:47] MCurran16 opened #47 "Feature request: minTime and maxTime for `pickTime()`"
Same as `{ minDate, maxDate }` for `pickDate()`

[2019-08-29 02:47] #47 closed, assigned to nobody

[2019-08-29 02:55] MCurran16 commented on #24
You are able to do this with `nativescript-modal-datetimepicker` and they seem to be using the `UIDatePicker`. It also seems that you could potentially handle it somehow with android, although not sure the best way.

https://github.com/davecoffin/nativescript-modal-datetimepicker/blob/master/src/modal-datetimepicker.ios.ts#L279

https://github.com/davecoffin/nativescript-modal-datetimepicker/blob/

[2019-09-07 21:25] davecoffin commented on #41
@tgpetrov what about onDatePickerOpened for DateTimePickerFields?

[2019-09-10 11:33] davecoffin opened #49 "ios: The UIAlertController behavior dismisses the modal by dragging"
When you pull down on the spinner to select a date or time and your selection reaches the center when your finger is over the OK or Cancel button, the action is triggered.

Here is a video of the behavior: https://share.getcloudapp.com/6qu0Av6N

The nature of these spinners is you can drag them anywhere on the screen to reach your desired selection without triggering other UI actions. UIAlertContr

[2019-09-13 16:31] Lunoc opened #50 "TimePickerField in ListViews"
Hello Nativescript-user,
I am wroking on a NativeScript Vue Project and i have many TimePickerFields in a ListView.
For example:
[code]
And my "onDateTimeChange"-handler:

[code]
Now it stores the current selected Time in a variable and that is fine.
Is there a way to know which TimePickerfield is calling the function?

It is neccesary because i want to store every selected Time (per TimepickerFie

[2019-09-13 20:05] tjvantoll commented on #49
@davecoffin Good catch. I can verify the behavior in this repo’s demo app also. My native iOS chops aren’t great either, so unfortunately I’m not sure what the root cause might be.

[2019-09-15 12:04] davecoffin commented on #49
The cause is that’s the defined behavior of UIAlertViewController, and it doesn’t look like you can override it. It’d have to be rewritten using a regular UIView.

[2019-09-17 13:57] #50 closed, assigned to nobody

[2019-10-08 15:03] ahmadsha7 opened #52 "Android API 23 - DatePickerField does not appear"
### Which platform(s) does your issue occur on?
- Platform: Android
- Android Version: 6.0, Marshmellow, API 23
- Emulator: Samsung Galaxy A3 (2016)

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.1.0
- Cross-platform modules: ^6.1.1
- Runtime(s): Both 6.1.1
- Plugin(s):
[code]

### Please, tell us how to recreate the issue in as much detail as possible.
T

[2019-10-17 00:42] darkyelox opened #53 "On iOS 13 the text color doesn't work, and without any style it looks like transparent text"
### The problem
On iOS 13 there is a transparency of the colors that is not present in iOS 12, that makes also a problem when we try to use CSS classes for customize the component

iOS 12:
![image](https://user-images.githubusercontent.com/8183191/66968782-5a057a80-f04c-11e9-9b2a-8bb8c953fbb8.png)

iOS 13:
![image](https://user-images.githubusercontent.com/8183191/66968799-6db0e100-f04c-11e9-9a9a-

[2019-10-29 15:44] elena-p commented on #52
@ahmadshahrour951,

`dateFormat="EE, MMM dd YYYY"` is not correct format, it should be `"EE, MMM dd yyyy"`.
All plugin demos (including vue.js one) run properly on android api 23.
I will mark this issue as `question`. If you isolate a bug in the plugin, please open another issue and share a sample app.

[2019-10-29 15:44] #52 closed, assigned to nobody

[2019-11-01 07:59] zbranzov commented on #53
The fix is released in nativescript-datetimepicker@1.2.2.

[2019-11-01 07:59] #53 closed, assigned to zbranzov

[2019-11-01 08:17] tgpetrov commented on #49
@davecoffin The native UIAlertViewController was updated for iOS13 and it seem like the behavior described above no longer happens (at least not on iOS13).

[2019-11-01 14:02] davecoffin commented on #49
Thats true, thanks for checking in @tgpetrov, and thanks for your work on this plugin ❤️
I'll close this issue.

[2019-11-01 14:02] #49 closed, assigned to nobody

[2019-11-26 11:43] san3k1990 opened #58 "Underline in DatePickerField"
Sorry, maybe the question is stupid, but how remove underline in DatePickerField in Android?

[2019-11-28 12:02] san3k1990 commented on #58
It was necessary to use `borderBottomWidth`

[2019-11-28 12:02] #58 closed, assigned to nobody

[2019-12-03 03:58] jdavidbakr opened #59 "How to style the calendar icon?"
Apologies if this is in the docs, but I can't find it ... I have a screen that has a dark background and have styled the `<DatePickerField />` to be white text.  However, the calendar icon remains black.  How do I change the color of the icon?

<img width="349" alt="iPhone_8_—_13_2_2" src="https://user-images.githubusercontent.com/25177/70019447-1dc7a400-153e-11ea-97f5-6c80e99a16f9.png">

[2019-12-03 14:30] bundyo commented on #59
Unfortunately you can't just change the color - this icon is a background image. There is styling for it in the {N} Theme 2.0, so you can probably use that. If you don't plan on using it, you can just rip it off from there and use it:

[code]

If you don't want to support two modes - remove the .ns-dark in front of it.

[2019-12-03 14:33] #59 closed, assigned to nobody

[2019-12-04 13:08] san3k1990 commented on #30
I have the same problem. Sometimes the displayed date is 1 day less than the selected. is there any workaround?

[2019-12-04 13:53] san3k1990 commented on #30
the problem is observed for 1991-2010 years inclusive

[2019-12-20 08:43] jannomeister opened #60 "Datepicker not showing inside a secondary modal"
I'm using nativescript-angular. When I call the datepicker inside a modal on top of a modal it wont show.

[2020-02-23 19:42] Peterf89 opened #61 "Overwrite OK action?"
Hi, is it somehow possible to customize the function that gets called when the user taps the OK button after selecting a date?

[2020-02-26 17:23] #61 closed, assigned to nobody

[2020-03-20 20:08] juniorschen opened #62 "DatePicker exceeds the size (calendar)"
Basically when using the datepicker in calendar mode it exceeds the size:
![image](https://user-images.githubusercontent.com/46031261/77202245-b45ba900-6acc-11ea-872b-79837799f290.png)

### Which platform(s) does your issue occur on?
Android emulator: PIXEL  3a XL;

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it): 6.4.1
- Cro

[2020-03-22 15:28] kriefsacha commented on #30
For me it's displaying right , but when i change it and save , it sends with one day less .. someone fixed it ?

[2020-03-22 15:38] kriefsacha commented on #30
Okay guys i just fixed it with :

`this.birthDate.setMinutes(this.birthDate.getMinutes() - this.birthDate.getTimezoneOffset());`

I remembered that i used it somewhere so i tried and it worked.

[2020-03-26 23:00] kazoostudios commented on #60
I'm using nativescript-vue. Same issue.

Error message follows...

`CONSOLE LOG file: node_modules/@nativescript/core/ui/frame/frame-common.js:581:16: 'topmost() is deprecated. Use Frame.topmost() instead.'`

[2020-04-03 23:51] juanbonoso commented on #62
Having the same issue.

[2020-05-08 14:56] Whip commented on #62
How did you get the calendar mode?

[2020-05-10 04:43] Whip opened #64 "Doesn't look right in Dark Mode"
### Make sure to check the demo app(s) for sample usage
The demos do not support dark mode

### Which platform(s) does your issue occur on?
- Android 10
- Nokia 6.1 Device

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it) 6.5.0
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-modules/packa

[2020-05-11 22:39] juniorschen commented on #62
This is shown depending on the internal configuration of the phone

[2020-06-05 06:36] baermathias opened #65 "How to clear/reset the component field?"
I am using `nativescript-vue` and several `<DatePickerField>`'s in a filter/search. After clearing/resetting the filter I need it to show the hint text or an empty field.

When setting date to an empty string `:date="''"` the component shows the value `01.01.1970`, so my method to clear it is by re-rendering the component and give each a key `:key="keyVar1"` with a random value `this.keyVar1 = Mat

[2020-06-07 23:29] giulianimartini opened #66 "Step (interval) for TimePickerField"
Hey,

is there a way to set a step (interval) for TimePickerField?

I want to set the minutes only by 00 or 30, not allowing the user to select minute 34 or 15, for example.

Thanks in advance.

[2020-06-11 02:40] kapil9-10 opened #67 "no events"
is there any event which triggers on when you click on ok button
on datePicker

[2020-06-11 19:06] giulianimartini commented on #67
Hey @kapil9-10,

Did you check the [Getting/Setting Date and Time section on Features](https://github.com/NativeScript/nativescript-datetimepicker#features)?

You can listen to the `dateChange` event on DatePickerField.

Here is an example of using it with vue binding:

`<DatePickerField @dateChange="onDateTimeChange1" :date="dateTime1"></DatePickerField>`

Where `dateTime1` is your date, for exam

[2020-07-09 14:05] baermathias commented on #65
I found out, that it is possible to pass `undefined` to `date`:

`:date="undefined"`

 If this happens, the value of `hint` property will be shown preferred. Imo the same behaviour should happen with `null` and empty strings. Also this behaviour should be documented somewhere.
So another solution can be to set hint to e.g. `hint=" "` and pass undefinded to date.

Maybe this info helps somebody.

[2020-07-15 19:15] eriese opened #69 "Unrecognized selector sent to instance in iOS14 beta"
### Which platform(s) does your issue occur on?
- iOS/Android/Both: **iOS**
- iOS/Android versions: **iOS14**
- emulator or device. What type of device? **both. any devices running iOS14**

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it) **6.7.8**
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/t

[2020-08-08 06:29] Dobermensch opened #71 ""No Overload Matches this call" when doing Vue.use(DateTimePicker) in main.ts"
I have a NS-Vue TS enabled project. I've installed the plugin using `tns add plugin nativescript-datetimepicker`. Now after installation, I go to the main.ts file to declare the plugin like so
`import DateTimePicker from "nativescript-datetimepicker/vue";
Vue.use(DateTimePicker);` However I get swiggly red lines underneath 'DateTimePicker' in `Vue.use(DateTimePicker)`.

I get the following error:

[2020-08-10 09:30] svmashok opened #72 "Got error when call datetimepicker from a modal dialog"
Hi

Android
Angular 9 version

Hi when i implement datetimepicker in a modal dialog then i got the following error

ERROR Error: Uncaught (in promise): Error: Modal content has more than one root view.
JS: Error: Modal content has more than one root view.
JS:     at new ZoneAwareError (file: apps\xxxxx\src\webpack:\d:\Project Workspace\node_modules\@nativescript\angular\zone-js\dist\zone-nativescr

[2020-08-10 10:17] rigor789 commented on #72
@svmashok plese don't tag people like that, unless of course you want to annoy people. Instead open the issue like normal, and provide as much details as possible:
 * Code you've written
 * The Stack trace (like you did)
 * If possible a sample project showing the issue
 * Version information: NativeScript/core version (perhaps the full package.json as it contains lot's of information).

[2020-08-10 12:01] svmashok commented on #72
Hi @rigor789

Sorry. I thought that those all are involved in this plugin development. Its my misunderstanding. Soon I will update it with my necessary information as you mentioned.
Thanks for the reply.

[2020-08-10 12:28] svmashok commented on #72
I have added in the plugin module file

**import { NativeScriptDateTimePickerModule } from "nativescript-datetimepicker/angular";**

and added

**@NgModule({
imports: [
   ....
  NativeScriptDateTimePickerModule
]**

From the main page i have opened a popup and inside that popup i need to get the input of date from calendar and set into an label

sample-dialog.component.tns.html
< DateTimePickerFi

[2020-08-12 04:34] svmashok commented on #72
hi @rigor789

Any update?

[2020-08-25 21:12] kapil9-10 commented on #67
thanks for help,,
one more query how will I know when he just scroll or clicked ok

[2020-08-25 21:22] kapil9-10 commented on #62
bro i got
There is no appropriate source code format in 'C:/Users/shama/TravelGo/node_modules/nativescript-datetimepicker' entry-point.
error in this can you please help me
or Give me suggestion for alternative

[2020-08-25 21:26] kapil9-10 opened #73 "facing entry point isssue in native script"
i want to use datepicker and Redautocompletetextbox but for both it's showing entry point error

package.json

"dependencies": {
    "@angular/animations": "~9.1.0",
    "@angular/common": "~9.1.0",
    "@angular/compiler": "~9.1.0",
    "@angular/core": "~9.1.0",
    "@angular/forms": "~9.1.0",
    "@angular/platform-browser": "~9.1.0",
    "@angular/platform-browser-dynamic": "~9.1.0",
    "@ang

[2020-08-25 22:00] juniorschen commented on #62
@kapil9-10
In my case I used a modal with the datepicker of the nativescript ui:
https://docs.nativescript.org/angular/ui/ng-components/date-picker

[2020-08-25 22:31] giulianimartini commented on #67
Hi @kapil9-10,

good to know it helped you.

I don't know if there's an event to capture the scroll, but the click is get on the `dateChange` event.
So, as I explained in the last post, when you click on 'OK', it will get the value that you have set. Otherwise, if you click 'Cancel', it will get the old value.
So you can get the 'OK' click on `dateChange` event =)

Hope it helps!

[2020-08-30 05:07] kapil9-10 commented on #62
thanks @juniorschen

[2020-08-31 09:22] jscti commented on #60
Same on IOS with angular (OK on android)
Opening a picker from a Modal fails with :

[2020-09-21 06:55] zghotlawala commented on #69
Yup, It is happening. Anyone found workaround or alternate solution?

[2020-09-21 12:03] SergeyMell commented on #69
Same issue for me on iOS 14 released

[2020-09-21 14:18] bergerbyte opened #75 "[nativescript-datetimepicker] iOS 14 display error"
With nativescript 6.8 and Angular the datetimepicker no longer works under iOS 14

<img width="379" alt="Bildschirmfoto 2020-09-21 um 16 16 11" src="https://user-images.githubusercontent.com/22369762/93778064-c528db00-fc25-11ea-86b5-8c750040ab5e.png">

[2020-09-21 19:16] Cateye82 commented on #75
I am facing the same issue, but saw the hint for the 2.0.0 Version:

NativeScript 7
Use @nativescript/datetimepicker: ~2.0.0
Source managed here: https://github.com/NativeScript/plugins

So I went there, downloaded the code, ran "npm run setup" and "npm start", selected the "datetimepicker" and it was generating some stuff into the "dist" folder.

Then I tried many things from copying it into the

[2020-09-21 20:53] JCFowler commented on #69
Also have this issue.

So Time picker completely breaks any app thats running on iOS 14?

[2020-09-22 07:29] SergeyMell commented on #69
The solution from [this thread](https://github.com/NativeScript/NativeScript/issues/8862) helped me.

[2020-09-23 07:40] asharghi commented on #69
A PR is submitted to fix this https://github.com/NativeScript/NativeScript/pull/8876

[2020-09-23 07:48] asharghi commented on #66
This is not an Issue with NativeScript, so you should ask on the Slack channel instead. But to answer your question you can use the `minuteInterval` property and set it to `30`.
Angular doc: https://docs.nativescript.org/angular/ui/ng-components/time-picker
Vue doc: https://nativescript-vue.org/en/docs/elements/components/time-picker/

[2020-09-23 14:41] alexander-mai commented on #75
Duplicate of #69

[2020-09-24 11:36] #62 closed, assigned to nobody

[2020-09-29 19:24] #75 closed, assigned to nobody

[2020-09-29 19:46] NathanWalker commented on #75
published in @nativescript/datetimepicker `2.0.3`

[2020-09-29 23:04] mreall commented on #75
That works. Thanks @alexander-mai and @NathanWalker!

[2020-10-01 01:18] dimitriospafos commented on #75
Is there a fix for earlier version for people who don't use Nativescript 7?

[2020-10-01 15:31] mreall opened #77 "Exception on Android with NS7 and v2.0.4"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
I get the following exception when trying to load the date picker on Android using NS7 and @nativescript/datetimepicker@2.0.3 (and @2.0.4).  The picker never displays.

I have a TextField with an tap listener `getDate` that calls:
[code]

Exception
[code]

This works fine on NS7 iOS14

### Which platform(s) d

[2020-10-01 22:31] NathanWalker commented on #75
@dimitriospafos yes I can backport this - we've generally been backporting upon request. thanks for ping, i'll try to get this out tonight.

[2020-10-01 22:46] dimitriospafos commented on #75
@NathanWalker thanks, I really appreciate it

[2020-10-02 03:17] #69 closed, assigned to nobody

[2020-10-05 14:34] AnthonyLenglet opened #78 "Crash on selection on iOS versions below 14 after latest iOS 14 hotfix"
### Which platform(s) does your issue occur on?
- iOS
- iOS 13.7, 12.4, anything below iOS 14
- emulator and device

### Please, provide the following version numbers that your issue occurs with:
- Plugin(s): 1.2.3

### Please, tell us how to recreate the issue in as much detail as possible.

Trying to open the datepicker was fixed in iOS 14, but the fix broke every other iOS versions apparently,

[2020-10-05 14:42] AnthonyLenglet commented on #78
Xcode compilation with this test fix was happening as I was filling this:
[code]

and I can confirm that this fixes the issue on iOS versions below 14 while still working under iOS 14, will make a PR ASAP !

[2020-10-07 00:43] #78 closed, assigned to nobody

[2020-10-09 11:54] sfrcnayds opened #80 "Version "1.2.3" iOS version "13.3" issue"
I have an issue on plugin version "1.2.3" and iOS version "13.3".

Unable to simultaneously satisfy constraints.
Probably at least one of the constraints in the following list is one you don't want.
Try this:
(1) look at each constraint and try to figure out which you don't expect;
(2) find the code that added the unwanted constraint or constraints and fix it.
(
"<NSLayoutConstraint:0x283f9b5c0 UI

[2020-10-11 18:58] mouadhkaabachi commented on #80
same error

[2020-10-23 05:39] alpha-nero1 opened #81 "(iOS) Cannot present datetimepicker alert inside of BottomNavigation tab"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS - all.
- device used is iPhone. XR

### Ple

[2020-10-26 09:40] mhtghn commented on #78
@NathanWalker this issue is still there on NS 6 version of this plugin.
I cant upgrade to NS 7 due to some plugins not compatible yet.

Can you please fix it for NS 6 app as well ?

[2020-10-26 10:12] AnthonyLenglet commented on #78
thats odd, since I am using NS6 still, and the issue has been fixed on our end

[2020-10-26 10:17] mhtghn commented on #78
Weird can you double check that you are using NS6 please, and which version of the plugin you have.

Im using the latest 1.2.3 and you can also see that the fix you provided in your PR has not been applied.
[https://github.com/NativeScript/nativescript-datetimepicker/blob/e35391ee31b1907bd6fd595c9e45cd48d80f3965/src/datetimepicker.ios.ts#L192](https://github.com/NativeScript/nativescript-datetimep

[2020-10-26 10:27] AnthonyLenglet commented on #78
yep nevermind, the PR isn't closed yet
https://github.com/NativeScript/nativescript-datetimepicker/pull/79

We have a local copy of the library that we built ourselves, didn't realise it wasn't merged yet, sorry !

[2020-12-08 16:04] srokatonie opened #83 "Is this repo abandoned?"
Hi,

1. No answer to people raising issues, for example, https://github.com/NativeScript/nativescript-datetimepicker/issues/73 which has been encountered by name - it's still there since August (actually have exactly same issue)

2. Try running your angular demo - it will not work

3. I understand that the version for NS7 works, but many other plugins are not compatible with NS7, so many of us can

[2020-12-08 16:35] NathanaelA commented on #83
Sorry, @srokatonie - All the code from this repo was moved to: https://github.com/NativeScript/plugins/
It should be working in NS7.

[2020-12-08 16:35] #83 closed, assigned to nobody

[2020-12-08 16:36] NathanaelA commented on #77
Please use the https://github.com/NativeScript/plugins/ repo for issue with any @nativescript plugins.

[2020-12-08 16:36] #77 closed, assigned to nobody

[2020-12-08 16:39] NathanaelA opened #84 "NativeScript 7 Issues - PLEASE READ ME FIRST"
All NativeScript 7 related issues for any @nativescript plugin should be posted to the repo located https://github.com/NativeScript/plugins/

[2020-12-08 17:30] srokatonie commented on #83
@NathanaelA Thanks for a quick reply. How about users using NS6 that migration is not possible yet, but official plugins are not working?  It looks like NS7 is not fully rolled out, there are no official docs even

[2020-12-08 17:44] NathanaelA commented on #83
NS7 is fully rolled out; we are currently using it in any new applications (and any apps that clients want migrated ) in a day to day usage.   The Docs will be getting a revamp/update in early 2021.   However 99% of the docs for NS6 are still work exactly the same in NS7.     In addition you can continue to use the NS7 CLI to build NS 6 apps.

---

All the official plugins (and many unofficial) sh

[2020-12-18 21:54] MCurran16 opened #85 "NS-Vue: Cannot display DateTimePicker on NS Vue Modal View"
### Which platform(s) does your issue occur on?
- iOS
- iOS 14
- emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.8.0
- Cross-platform modules: 6.5.8
- Runtime(s): 6.5.3

### Additional links
https://nativescript-vue.org/en/docs/routing/manual-routing/#modal-view-navigation

### Error
[code]

In an NS Vue modal view, the date time picker does not s

[2021-02-09 07:57] bbroereES opened #86 "Android issue switching months with different max days"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android only
- 9/10/11
- Emulator and device, m

[2021-02-09 09:44] Przemase commented on #80
The same error on ios 12.4 on emulator and real device

This isue is releate with https://github.com/NativeScript/nativescript-datetimepicker/issues/78
Modify datetimepicker.ios.js with this to fix it

DateTimePicker._applyDialogSpinnersColors = function (nativePicker, nativeContainer, color, backgroundColor) {​​​​​​​​
if (backgroundColor) {​​​​​​​​
nativeContainer.backgroundColor = backgroundColo

[2021-04-19 15:29] Robernator commented on #73
You need this:
"@nativescript/datetimepicker": "~2.1.0",

[2021-04-20 17:55] MCurran16 commented on #85
https://github.com/NativeScript/plugins/pull/118

[2021-04-20 22:41] NathanWalker commented on #85
Fix in 2.1.1

[2021-04-20 22:41] #85 closed, assigned to nobody

[2021-05-10 08:19] Upd4ting commented on #75
Is this somehow related? https://github.com/NativeScript/plugins/issues/128

[2021-05-17 09:32] PetroSuch opened #87 "Cannot read property 'addEventListener' of undefined"
I have an error  when using DateTimePickerFields, could somebody help me with my question, please ?

here is my package.json

"dependencies": {
    "@angular/animations": "~11.2.7",
    "@angular/common": "~11.2.7",
    "@angular/compiler": "~11.2.7",
    "@angular/core": "~11.2.7",
    "@angular/forms": "~11.2.7",
    "@angular/platform-browser": "~11.2.7",
    "@angular/platform-browser-dynamic"

[2021-05-18 07:08] PetroSuch commented on #87
i changed function in  file @nativescript/datetimepicker/ui/date-time-picker.js
[code]

and it fixed my problem

[2021-07-01 08:44] dmoptimal opened #88 "Angular - Dynamic minDate/maxDate not working on iOS"
Tns version **7.2.1**
Angular version **8.2.0**

In component:
`public minDate = moment().format('YYYY/MM/DD');
`
In html:
`<DatePickerField [minDate]="minDate"> </DatePickerField>
`
I've also tried the following:
`<DatePickerField minDate="{{minDate}}"> </DatePickerField>
`

The demo works, but is not dynamic:
`<DatePickerField minDate="2021/06/01"> </DatePickerField>
`

I'm sure I'm doing someth

[2021-08-09 15:58] mrwrighty commented on #61
Also need this.

[2021-08-11 08:50] mrwrighty opened #89 "Calendar Displays Twice when setting MinDate from JS"
I'm using the following code to set the MinDate, based on the date from another datetimepicker:-

`<datetime:DatePickerField id="enddate" locale="en_GB" row="0" col="2" hint="Select End Date" class="date" isEnabled="false" datePickerClosed="setenddate" datePickerOpened="onEndDateTap"/>`

`export function onEndDateTap(args){
    var startdate = args.object.page.getViewById("startdate");
    var lea

[2022-09-02 23:25] Echoju opened #90 "Issue with marking mode... attempt to use cleared object"
Hi,

I use this plugin on android / device (usb).
Ns : 8.2.2.
VueJs : 2.6.12

I randomly get this type of error : " attempt to use cleared object reference id=...."

I have seen that there could be issue with "marking mode : none"

Has anyone had this kind of messages on android ?

Here is my code :

================
     <StackLayout    width="100%" class="wrap_form "   >
             <label row=